@using ViewModels.Accounts
@using ViewModels.Paging
@using ViewModels.LicensePlates
@using ViewModels
@using DataAccess.Models;
@using WebClient.Helpers
@model AccountVM
@{
    List<LicensePlateVM> items = ViewData["LicensePlates"] as List<LicensePlateVM>;
}

<div class="pagetitle">
    <h1>Thông tin người dùng</h1>
</div><!-- End Page Title -->

<div class="row mb-2">
    <div class="col-sm-12 col-lg-8 m-auto">
        <div class="row">
            <div class="card p-3 mb-3">
                <form id="form-edit" method="POST" asp-area="Admin" asp-controller="User" asp-action="Update">
                    <div class="row mb-3">
                        <div class="col-sm-12">
                            <label class="col-sm-12 fw-bold">Email</label>
                            <div class="col-sm-12">
                                <input disabled asp-for="Email" type="text" class="form-control">
                            </div>
                        </div>

                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-12">
                            <label class="col-sm-12 fw-bold">Tên đầy đủ</label>
                            <div class="col-sm-12">
                                <input disabled asp-for="Fullname" name="Fullname" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class=" col-sm-12  fw-bold">Trạng thái hoạt động</label>
                        <div class="col-sm-12">
                            <span class="badge rounded-pill @(Model?.IsAccountActive == true? "bg-success" : "bg-danger")">@(Model?.IsAccountActive == true ? "Đang hoạt động" : "Ngừng hoạt động") </span>
                        </div>
                    </div>

                    <div class="row mb-2 mt-3">
                        <div class="col-sm-12 d-flex flex-row justify-content-start">
                            <a asp-area="Admin" asp-controller="User" asp-action="Index" class="btn btn-secondary">

                                <i class="bi bi-arrow-left"></i>
                                <span>Trở về</span>
                            </a>
                            <a asp-area="Admin" asp-controller="User" asp-action="Update" asp-route-email="@Model.Email" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil"></i>
                                <span>Chỉnh sửa</span>
                            </a>
                        </div>
                    </div>

                </form>

            </div>
            <div class="card p-3">
                <h6 class="mb-3 fw-bold">Danh sách biển số</h6>
                @if (items != null && items?.Count > 0)
                {
                    <div class="row d-flex flex-row justify-content-center mb-lg-5 row-cols-1 row-cols-sm-2 row-cols-md-3">
                        @foreach (LicensePlateVM item in items)
                        {
                            <div class="col mb-4">
                                <div class="container mb-2 d-flex flex-column align-items-center">
                                    <h6>Ngày bấm: @item.CreatedDate.ToShortDateString()</h6>
                                    <div type="text" name="licenseplate" class="licenseplate">@item?.LicensePlateNumber</div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
