@using ViewModels.Authens
@using ViewModels.Accounts
@using WebClient.Helpers

@model AccountVM

<div class="bg-clubs">
    <section class="register min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                    <div class="d-flex justify-content-center py-4">
                        <a asp-controller="Home" asp-action="Index" class=" d-flex align-items-center ">
                            @* <img class="logo-bigger" src="/assets/images/logo.png" alt=""> *@
                        </a>
                    </div><!-- End Logo -->

                    <div class="card">

                        <div class="card-body">

                            <div class="pt-2 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4 fw-bold">Register</h5>
                                <p class="text-center small">Creating your new account is the first step to unlocking a world of possibilities</p>
                            </div>

                            <form id="login-form" method="POST" asp-controller="Authen" asp-action="Register" class="row">
                                <span class="text-red mt-1 text-center">Password will send to your email!</span>
                                <div class="col-12 mb-2">
                                    <span class="fw-bold">Fullname</span>
                                    <input type="text" name="Fullname" placeholder="Enter your fullname" class="form-control" />
                                    <span asp-validation-for="Fullname" class="text-danger"></span>

                                </div>
                                <div class="col-12 mb-2">
                                    <span class="fw-bold">Email</span>
                                    <input type="text" name="Email" placeholder="Enter your email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>

                                </div>
                                <div class="col-12 mt-2 mb-2">
                                    <button onclick="showSpinner();" type="submit" class="btn btn-primary w-100">
                                        <span id="spinner" class="visually-hidden">
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            <span class="visually-hidden">Loading...</span>
                                            <span>Processing</span>
                                        </span>
                                        <span id="btn-content">
                                            <i class="bi bi-arrow-right"></i>
                                            <span>Register</span>
                                        </span>
                                    </button>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span>Already have an account?</span>
                                    <a asp-controller="Authen" asp-action="SignIn" class="link-underline">
                                        Sign in
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

