@using ViewModels.Authens
@using WebClient.Helpers

@model SignInVM
@{

    bool isProduction = true;

    string sessionExpiration = Context.Request.Query["sessionExpiration"];
}

<div class="bg-clubs">
    <section class="register min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                    <div class="d-flex justify-content-center py-4">
                        <a asp-controller="Home" asp-action="Index" class=" d-flex align-items-center ">
                            @* <img class="logo-bigger" src="/assets/images/logo.png" alt=""> *@
                        </a>
                    </div><!-- End Logo -->

                    <div class="card">

                        <div class="card-body">

                            <div class="pt-2 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4 fw-bold">Sign In</h5>
                                @* <p class="text-center small">Embark on a journey to explore interesting exams and test your knowledge, skills with us.</p> *@
                            </div>

                            <form id="login-form" method="POST" asp-controller="Authen" asp-action="SignIn" class="row">
                                <div class="col-12 mb-2">
                                    <span class="fw-bold">Email</span>
                                    <input type="text" name="Email" asp-for="Email" placeholder="Enter your email" class="form-control" />
                                </div>
                                <div class="col-12 mb-2">
                                    <span class="fw-bold">Password</span>
                                    <input type="password" name="Password" asp-for="Password" placeholder="Enter your password" class="form-control" />
                                </div>
                                <div class="col-12 mt-2 mb-2">
                                    <button id="btn-google_login" class="btn btn-primary bg-orange text-white w-100" type="submit">
                                        <i class="bi bi-arrow-right"></i>
                                        <span> Sign In</span>
                                    </button>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span>Don't have an account?</span>
                                    <a asp-controller="Authen" asp-action="Register" class="link-underline">
                                        Create new account
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@if (sessionExpiration == "true")
{
    <script>
        window.onload = function () {
            showToast('warning', 'Session expired, please login again!');
        };
    </script>
}

