@using ViewModels.Authens
@using WebClient.Helpers

 <section class="mt-5 d-flex flex-column align-items-center justify-content-center">
        <div class="container">
            <div class="row">
                <h5 class="fw-bold text-center" style="font-size: 30px">
                    Welcome to Online Exam, where success meets convenience.
                </h5>
                <div class="m-auto d-flex justify-content-center">
                    <img width="500" height="500" class="welcome-image" style="color: orange" src="/assets/icons/programming.svg" alt="">

                </div>
            </div>

        </div>
    </section>