@using ViewModels.Districts
@using ViewModels.LicensePlates
@model DistrictVM
<div class="pagetitle">
    <h1>Thông tin tỉnh</h1>
</div><!-- End Page Title -->

<div class="row mb-2">
    <div class="col-sm-12 col-lg-8 m-auto">
        <div class="card p-3">
            <div class="row mb-3">
                <label class="col-sm-12 fw-bold">Tên tỉnh<span class="ms-1 text-red">*</span></label>
                <div class="col-sm-12">
                    <input disabled asp-for="Name" name="Name" type="text" class="form-control" placeholder="Enter district name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-12 fw-bold">Tiền tố<span class="ms-1 text-red">*</span></label>
                <div class="col-sm-12">
                    <textarea disabled asp-for="Prefix" name="Prefix" type="text" class="form-control" placeholder="Enter district description"></textarea>
                    <span asp-validation-for="Prefix" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-sm-12 d-flex flex-row justify-content-start">
                    <a asp-area="Admin" asp-controller="District" asp-action="Index" class="btn btn-secondary me-2">
                        <i class="bi bi-arrow-left"></i>
                        <span>Trở về</span>
                    </a>
                    <a asp-area="Admin" asp-controller="District" asp-action="Update" asp-route-districtId="@Model.DistrictId" class="btn btn-primary">
                        <i class="bi bi-pencil"></i>
                        <span>Chỉnh sửa</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>