@using ViewModels.Authens
@using WebClient.Helpers

<div class="bg-clubs">
    <section class="min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="d-flex flex-column align-content-center mt-5 " >
                        <h5 class="fw-bold" style="font-size: 30px; margin-top: 100px">
                        </h5>
                        <p style="font-size: 20px;">
                        </p>
                    </div>
                </div>
                <div class="col">
                    <img class="welcome-image" style="color: orange" src="/assets/icons/programming.svg" alt="">
                </div>
            </div>

        </div>
    </section>
</div>


