@using ViewModels.LicensePlates
@using ViewModels.Districts
@using ViewModels.Series

@model LicensePlateVM


<div class="pagetitle">
    <h1>Bấm biển số thành công</h1>
</div><!-- End Page Title -->

<div class="row mb-2">
    <div class="col-sm-12 col-lg-6 m-auto">
        <div class="card p-3">
            <div class="container mb-4 d-flex flex-column align-items-center">
                <label class="fw-bold d-block mb-2">Chúc mừng bạn đã có biển số mới!</label>
                <h6>Ngày bấm: @Model.CreatedDate.ToShortDateString()</h6>

                <div type="text" name="licenseplate" class="licenseplate w-46">@Model?.LicensePlateNumber</div>
            </div>
            <a asp-area="User" asp-controller="Home" asp-action="Index" class="btn btn-secondary me-2">
                <i class="bi bi-arrow-left"></i>
                <span>Trở về trang chủ</span>
            </a>
        </div>
    </div>
</div>