@using WebClient.Helpers
@{
    UserInfo userInfo = SessionHelper.GetObject<UserInfo>(Context.Session, "UserInfo");
}

<section class="error-404 min-vh-100 d-flex flex-column align-items-center justify-content-start my-5 ">
    <img src="/assets/images/errors/404.svg" width="300" height="300" class="img-fluid py-4" alt="Page Not Found">
    <h2 class="text-center">Trang bạn tìm kiếm không tồn tại.</h2>
    <a class="btn btn-secondary" asp-area="@userInfo?.Role" asp-controller="Home" asp-action="Index">

        <i class="bi bi-arrow-return-left"></i>
        <span>Trở về trang chủ</span>
    </a>
</section>